.tile {
    display: grid;
    place-content: center;
    width: 150px;
    height: 150px;
}

.tile .chess-piece{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}

.black-tile{
    background-color: rgb(75, 115, 153);
}

.white-tile{
    background-color: rgb(234, 233, 210);
}

.tile img{
    width: 80px
}

